*{ 
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(120deg, #ffeb38, green);
  /* background-color: rgb(49, 40, 40); */
  color:rgb(44, 71, 70);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

header,
form{
  min-height: 20vh;
  font-size: 1.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

form input, 
form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline:none;
}

form button{
  color: #3c7920;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

form button:hover{
  background: #ffeb38;
  color:#3c7920;
}

.todo-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 30%;
  list-style: none;
}

.todo{
  margin:0.5rem;
  background: white;
  color:black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li{
  flex:1;
}
.trash-btn, .complete-btn{
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor:pointer;
  font-size: 1rem;
}

.complete-btn{
  background: rgb(73, 204, 73);
}
.complete-btn:hover{
  background: #3c7920;
}

.trash-btn:hover{
  background: #bb5133;
}
/* See this selector */
/* .todo-item{
  padding: 0rem, 0.5rem;
} */

.fa-trash, 
.fa-check{
  pointer-events: none;
}

.completed{ 
  text-decoration: line-through;
  opacity: 0.6;
}

.fall{
  transform: translateY(8rem)rotateZ(20deg);
  opacity:0;
}

select{
  appearance: none;
  outline: none;
  border: none;
}

.select{
  margin:1rem;
  position: relative;
  overflow: hidden;
}
select{
  appearance: none;
  outline: none;
  border: none;
  color:rgb(255, 255, 255);
  width:13rem;
  cursor: pointer;
  padding: 1.2rem;
}
.select::after{
  content: '\25BC';
  position: absolute;
  background: #ffffff;
  top:0;
  right: 0;
  padding:1rem;
  pointer-events: none;
  transition: all 0.2s ease;
}
.select:hover::after{
  background: #ffeb38;
  color:#3c7920;
}